$background:  rgb(0, 0, 10);
$mainGrey: #272827;
$fullWidth: 100%;
$fullHeight: 100%;
$white: #fff;
$slider: 800px;

@mixin animate {
  animation-name: fadein;
  animation-duration: 2s;

  @keyframes fadein {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
}



// color: fade-out( $highlight, 0.5 );
