@import 'utility';

.wallpaper {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.floatingWallpaper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-space {
  display: flex;
  justify-content: space-around;
}

.bar {
    width: $fullWidth;
    height: 40px;
}

body {
    background-image: url("../images/Ryan-2.jpg");
    @extend .wallpaper;
    background-color: $background;
    margin: 0;
    padding: 0;
    font: 16px / 1;
    font-family: 'Roboto', sans-serif;

    h2 {
      margin: 0;
    }
}

header {
    width: $fullWidth;
    height: $slider;
    @extend .flex-space;
    margin: 0;

    .profile {
      @include animate;
    }
}

.hello {
    background-color: fade-out($white, 0.3 );
    position: absolute;
    padding: 5px 25px 10px 25px;
    border-radius: 5px;
    margin: 60px auto 10px 0px;
    justify-content: center;

    &::after {
      content: url('../images/tri.png');
      position: relative;
      top: 34px;
      left: 0px;
      opacity: 0.7;
    }
}

.slider-1 {
    background-color: fade-out( $mainGrey, 0.1 );
    color: $white;
    width: $fullWidth;
    margin: 0;
    padding-bottom: 20px;

    .first {
        color: $white;
        text-align: center;
        width: 70%;
        margin: 0 auto 0 auto;
        padding: 20px 5px 20px 5px;
    }

    .second {
        @extend .flex-space;
        align-items: center;
        margin: 50px auto 0px auto;

        img {
            display: block;
            margin: auto;
            width: 90%;
            border: 1px transparent solid;
            border-radius: 5px;
            &:hover {
              border: 1px $white solid;
            }
        }
    }

    .third {
        margin: 40px 20px 0px 20px;
        padding-bottom: 20px;
    }
}

.slider-2 {
    background-image: url(../images/design-ideas/grandcanyon2.jpg);
    @extend .wallpaper;
    padding-bottom: 150px;

    .skills {
        color: $white;
        text-align: center;
        width: 70%;
        margin: 0 auto 0 auto;
        padding: 100px 5px 20px 5px;
    }

    .skills-pics {
        padding: 40px;
    }

    .wordpress {
        background-color: $white;
        border-radius: 45px;
        opacity: 0.8;
        width: 90%;
        margin: 40px auto 0 auto;
        padding: 15px;
    }
}

.connected {
    width: $fullWidth;
    height: $slider;
    display: flex;
    justify-content: space-around;
    margin: 0;

    .goodbye {
        background-color: fade-out( $white, 0.3 );
        position: absolute;
        justify-content: center;
        border-radius: 4px;
        padding: 5px 25px 10px 25px;
        margin: 130px auto 10px 0px;

        &::after {
            content: url('../images/tri.png');
            position: relative;
            top: 34px;
            left: 0px;
            opacity: 0.7;
        }
    }
}

.icons {
    @extend .flex-space;
    align-items: center;
    margin: auto auto 150px auto;
    padding: 40px 10px 40px 10px;

    .social {
        display: inline-block;
        margin: 5px 10px 5px 10px;
        width: 15%;

        img:hover {
            opacity: 0.7;
        }

        img:active {
            opacity: 0.8;
        }
    }
}

.slider-4 {
    background-image: url("https://www.charterforcompassion.org/images/the_forest_church_2_by_weiweihua.jpg");
    @extend .wallpaper;
    background-color: $background;
    margin: 0;
    padding: 0px 0px 50px 0px;
    font: 16px / 1;
    font-family:  'Baloo Bhaina', cursive;

    .blog-header {
      text-align: center;
      padding-top: 50px;
      font-size: 50px;
      color: $white;
      align-items: center;

      h3 {
        background-color: fade-out( $mainGrey, 0.1 );
        border: 0px transparent solid;
        border-radius: 5px;
        width: 40%;
        margin: 0 auto 0 auto;
      }
    }

    .blog-body {
      @extend .flex-space;
      align-items: center;

      .blog {
        background-image: url("../images/blogging.jpg");
        @extend .floatingWallpaper;
        width:80%;
        background-color: $white;
        border: 0px transparent solid;
        border-radius: 10px;
        margin: 50px 0 50px 0;

        .medium {
          @extend .flex-space;
          margin: 50px auto 20px 40%;
        }

        p {
          text-align: center;
          margin: 0 auto 70px auto;
          padding: 50px;
        }
      }
    }
}

.bar-1 {
    @extend .bar;
    background-color: $white;
}

.bar-2 {
    @extend .bar;
    background-color: $background;
}

footer {
    background-color: fade-out( $mainGrey, 0.1 );
    width: $fullWidth;
    height: $fullHeight;
    text-align: center;
    color: $white;
    margin: 0;
    padding: 10px 0;

    p {
        margin: 0;
    }
}



@media only screen and (max-width: 710px) {
    body {
        background-position: left -250px top 0px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 0;
        padding: 0;
    }

    .second {
        display: block;
    }

    .second img {
        margin-top: 50px;
    }
}
